<div class="container">
  <div class="text-center"><h1>Get a recommendation!</h1></div>
  <div class="container col-md-6 ">
    <form class="align-items-center">
      <select [(ngModel)]="selection" class="form-select form-select-lg md-selected" type="text" name="selection"
        aria-label="Catagory Selector">
        <option selected>Please select an option or hit Surprise Me!</option>
        <option value="Canada">Canada</option>
        <option value="Children">Children</option>
        <option value="Christmas">Christmas</option>
        <option value="Classics">Classics</option>
        <option value="Crime">Crime</option>
        <option value="Country">Country</option>
        <option value="Education">Education</option>

        <option value="Fiction">Fiction</option>

        <option value="General">General</option>
        <option value="Geography">Geography</option>
        <option value="History">History</option>
        <option value="Language">Language</option>
        <option value="Literature">Literature</option>
        <option value="Law">Law</option>
        <option value="Music">Music</option>
        <option value="Psychology">Psychology</option>
        <option value="Philosophy">Philosophy</option>
        <option value="Religion">Religion</option>
        <option value="Science">Science</option>
        <option value="Social%20Sciences">Social Sciences</option>
        <option value="Technology">Technology</option>
        <option value="Wars">Wars</option>
      </select>
      <div class="row justify-content-center">
        <div class="col-md-4 text-center"><button type="submit" id="recommendbtn" class="btn btn-primary" (click)="findBookByCatagory()">Submit</button></div>
      <div class="col-md-4 text-center"><button type="submit" id="surprisebtn" class="btn btn-danger" (click)="findAnyBook()">Surprise me!</button></div>
    </div>
    </form>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <ngb-toast *ngIf="show" header="Searching" [autohide]="false" (hidden)="close()">
        Searching for a book to recommend to you
      </ngb-toast>
  </div>
  </div>
  <div *ngIf="book.length > 0">
    <ngb-accordion #a="ngbAccordion" activeIds="one">

      <ngb-panel id="one">
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{getBookTitle()}} by {{getBookAuthors()}}, ID: {{getBookId() | json}}</h5>
            <div>
              <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Details</button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <h5 class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">Languages: {{getBookLanguages()}}</li>
                  <li class="list-group-item">Subjects: {{getBookSubjects() | json}}</li>
                  <li class="list-group-item">Bookshelves: {{getBookBookshelves() | json}}</li>
                  <li class="list-group-item">Download Count: {{getBookCount()}}</li>
                </ul>
              </h5>
              <div class="row justify-content-center">
                <div class="col-md-4 text-center"><a href="https://www.gutenberg.org/ebooks/{{getBookId()}}" class="btn btn-primary float-center" >Go to BookDetails</a></div>
                <div class="col-md-4 text-center"><a  class="btn btn-primary" (click)="addToReadingList()">Add To Reading List</a></div>
              </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

  </div>
</div>


