
<div class="container">
  <h3>Get a recommendation!</h3>
  <div class="container col-md-6 ">
<form class="align-items-center">
  <select class="form-select" aria-label="Catagory Selector">
    <option selected>Please select an option or hit Feeling Lucky!</option>
    <option value="Canada">Canada</option>
    <option value="Children">Children</option>
    <option value="Christmas">Christmas</option>
    <option value="Classics">Classics</option>
    <option value="Crime">Crime</option>
    <option value="Country">Country</option>
    <option value="Education">Education</option>
    <option value="Emmy">Emmy</option>
    <option value="Fiction">Fiction</option>
    <option value="FineArts">FineArts</option>
    <option value="General">General</option>
    <option value="Geography">Geography</option>
    <option value="History">History</option>
    <option value="Language">Language</option>
    <option value="Literature">Literature</option>
    <option value="Law">Law</option>
    <option value="Music">Music</option>
    <option value="Psychology">Psychology</option>
    <option value="Philosophy">Philosophy</option>
    <option value="Religion">Religion</option>
    <option value="Science">Science</option>
    <option value="Social Sciences">Social Sciences</option>
    <option value="Technology">Technology</option>
    <option value="Wars">Wars</option>

  </select>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="submit" class="btn btn-danger">Feeling Lucky?</button>
  </div>
</form>
</div>
</div>
