<div class="container">
  <h3>Get a recommendation!</h3>
  <div class="container col-md-6 ">
    <form class="align-items-center">
      <select [(ngModel)]="selection" class="form-select form-select-lg md-selected" type="text" name="selection"
        aria-label="Catagory Selector">
        <option selected>Please select an option or hit Surprise Me!</option>
        <option value="Canada">Canada</option>
        <option value="Children">Children</option>
        <option value="Christmas">Christmas</option>
        <option value="Classics">Classics</option>
        <option value="Crime">Crime</option>
        <option value="Country">Country</option>
        <option value="Education">Education</option>
        <option value="Emmy">Emmy</option>
        <option value="Fiction">Fiction</option>
        <option value="FineArts">FineArts</option>
        <option value="General">General</option>
        <option value="Geography">Geography</option>
        <option value="History">History</option>
        <option value="Language">Language</option>
        <option value="Literature">Literature</option>
        <option value="Law">Law</option>
        <option value="Music">Music</option>
        <option value="Psychology">Psychology</option>
        <option value="Philosophy">Philosophy</option>
        <option value="Religion">Religion</option>
        <option value="Science">Science</option>
        <option value="Social%20Sciences">Social Sciences</option>
        <option value="Technology">Technology</option>
        <option value="Wars">Wars</option>
      </select>

      <button type="submit" id="recommendbtn" class="btn btn-primary" (click)="findBookByCatagory()">Submit</button>
      <button type="submit" id="surprisebtn" class="btn btn-danger" (click)="findAnyBook()">Surprise me!</button>

    </form>
  </div>
  <div *ngIf="book.length > 0">

    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card text-center h-100">
          <div class="card-body">
            <h3 class="card-title">{{getBookTitle()}}</h3>
            <h4 class="card-subtitle">ID: {{getBookId()}}</h4>
            <h5 class="card-text">
              <ul class="list-group">
                <li class="list-group-item">Authors: {{getBookAuthors()}}</li>
                <li class="list-group-item">Languages: {{getBookLanguages()}}</li>
                <li class="list-group-item">Translators: {{getBookTranslators()}}</li>
                <li class="list-group-item">Subjects: {{getBookSubjects()}}</li>
                <li class="list-group-item">Bookshelves: {{getBookBookshelves()}}</li>
                <li class="list-group-item">Download Count: {{getBookCount()}}</li>
              </ul>
            </h5>
            <a href="https://www.gutenberg.org/ebooks/{{getBookId()}}" class="btn btn-primary">Go to Book
              Details</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- <div class="row justify-content-center">
  <div class="col-sm-6">
    <ngb-toast *ngIf="show" header="Searching" [autohide]="false" (hidden)="close()">
      Searching for a book to recommend to you
    </ngb-toast>
</div>
</div> -->
