<div>




  <div>
    <h2 class="card-header text-center">{{ title }}</h2>
  </div>

  <!-- <ul *ngFor="let b of Book"  class="list-group"  > 
  <li class="list-group-item"> Id: {{b.bookId}} </li>
  <li class="list-group-item">Book Title: {{b.bookTitle}}</li>
  <li class="list-group-item">BookSubject: {{b.bookSubjects}} </li>
  <li class="list-group-item">Authors: {{b.authors}}</li>
  <li class="list-group-item">Translators: {{b.translators}} </li>
  <li class="list-group-item">BookShelves: {{b.bookshelves}} </li>
  <li class="list-group-item">Languages: {{b.languages}}</li>
  <li class="list-group-item">Download Count: {{b.dlCount}} </li>
</ul>
-->

</div>