<head>
  <link rel="stylesheet" type="text/css" href="./landing.component.css"/>
</head>

<div>
    <h2 class="card-header text-center">{{ title }}</h2>
  </div>

<div class="container">
  <button class="btn btn-primary" type="button"  (click)="triggerLoginModal(loginModal)">Login</button>

  <br />

  <button class="btn btn-primary" type="button"  (click)="triggerSignupModal(signupModal)">Sign up</button>

</div>

<!-- LOGIN MODAL -->

<ng-template #loginModal let-modal>
  <form>
  <div class="modal-header modal-dialog-centered" #loginModal>
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">


      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="text" name="username" [(ngModel)]="username" id="form1Example1" class="form-control" placeholder="Username" />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" name="password" [(ngModel)]="password" id="form1Example2" class="form-control" placeholder="Password" />
      </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>



      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block" name="Login" id="go" value="Login" (click)="doLogin()" (click)="modal.dismiss('Cross click')"> Login </button>
  </div>
</form>

</ng-template>




<!-- SINGUP MODAL-->

<ng-template #signupModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Signup</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">"Agatha Harkness"</span> profile?</strong></p>

    <p>All data related to west view profile will be removed permanently.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

