<div class="container">
  <h3>Here is your Reading List</h3>

  <div *ngIf="getUserList().length == 0">
    Reading List is Empty, add a book <a routerLink="/recommendations" class="btn btn-primary">Go to Recommendations</a> <a routerLink="/search" class="btn btn-primary">Go to Search</a> <a routerLink="/all" class="btn btn-primary">Go to All List</a><a routerLink="/main" class="btn btn-primary">Go to Home</a>
  </div>
<ngb-accordion>

  <div *ngfor="item in list; index as i">

    <ngb-panel>
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">{{getBookProps(i, 'title')}} by {{getBookProps(i, 'authors')}}, ID: {{getBookProps(i, 'id')}}</h5>
          <div>
            <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Details</button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <h5 class="card-text">
              <ul class="list-group">
                <li class="list-group-item">Languages: {{getBookProps(i, 'languages')}}</li>
                <li class="list-group-item">Subjects: {{getBookProps(i, 'subject')}}</li>
                <li class="list-group-item">Bookshelves: {{getBookProps(i, 'bookshelves')}}</li>
                <li class="list-group-item">Download Count: {{getBookProps(i, 'count')}}</li>
              </ul>
            </h5>
            <a href="https://www.gutenberg.org/ebooks/{{getBookProps(i, 'id')}}" class="btn btn-primary">Go to Book
              Details</a><a  class="btn btn-primary">Add To Reading List</a>
      </ng-template>
    </ngb-panel>


  </div>
</ngb-accordion>

</div>
