<div class="container">
  <h1 class="text-center">Here is your Reading List</h1>

  <div class="row justify-content-center">
    <div class="col-sm-6">
      <ngb-toast *ngIf="show" header="Loading" [autohide]="false" (hidden)="close()">
        Loading Your Reading List
      </ngb-toast>
    </div>
  </div>

  <div *ngIf="getUserList().length > 0">

    <ngb-accordion *ngFor="let item of books; index as i;">

      <ngb-panel>
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{getBookTitle(i)}} by {{getBookAuthors(i)}}, ID: {{getBookId(i)}}</h5>
            <div>
              <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Details</button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <h5 class="card-text">
            <ul class="list-group">
              <li class="list-group-item">Languages: {{getBookLanguages(i)}}</li>
              <li class="list-group-item">Subjects: {{getBookSubjects(i)}}</li>
              <li class="list-group-item">Bookshelves: {{getBookBookshelves(i)}}</li>
              <li class="list-group-item">Download Count: {{getBookCount(i)}}</li>
            </ul>
          </h5>
          <div class="row justify-content-center">
            <div class="col-md-4 text-center"><a href="https://www.gutenberg.org/ebooks/{{getBookId(i)}}" class="btn btn-primary">Go to Book
            Details</a></div>
            <div class="col-md-4 text-center"><a class="btn btn-primary" (click)="removeBook(i)">Remove from Reading List</a></div>
            </div>
        </ng-template>
      </ngb-panel>



    </ngb-accordion>
  </div>
</div>

<div *ngIf="getUserList().length == 0">
  <div class="row justify-content-center gy-2">
    <div class="col text-center"><h3>Your reading List is Empty, add a book</h3></div>
    <a routerLink="/recommendations" class="btn btn-primary">Go to Recommendations</a>
    <a routerLink="/search" class="btn btn-primary">Go to Search</a>
    <a routerLink="/all" class="btn btn-primary">Go to All List</a>
    <a routerLink="/main" class="btn btn-primary">Go to Home</a>
    </div>
</div>
