<div class="container">
  <h1 class="display-1 text-center">Welcome <strong class="text-muted">{{nameOfUser}}</strong></h1>

  <hr>

  <h2 class=" text-center"><strong>The top 5 books are:</strong></h2>
</div>

<div *ngIf="!bookList" id="loading-message">
  {{clientMessage.message}}
</div>

<div *ngIf="bookList != undefined">
  <div class="container">
    <!-- If bookList is not an empty object display this-->
    <div *ngIf="bookList.count >0">


      <ngb-accordion #a="ngbAccordion" activeIds="">

        <ngb-panel>
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="m-0">{{getBookTitle(0)}} by {{getBookAuthors(0)}}, ID: {{getBookId(0) | json}}</h5>
              <div>
                <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Details</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5 class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Languages: {{getBookLanguages(0)}}</li>
                    <li class="list-group-item">Subjects: {{getBookSubjects(0) | json}}</li>
                    <li class="list-group-item">Bookshelves: {{getBookBookshelves(0)}}</li>
                    <li class="list-group-item">Download Count: {{getBookCount(0)}}</li>
                  </ul>
                </h5>
                <a href="https://www.gutenberg.org/ebooks/{{getBookId(0)}}" class="btn btn-primary">Go to Book
                  Details</a><a  class="btn btn-primary">Add To Reading List</a>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="m-0">{{getBookTitle(1)}} by {{getBookAuthors(1)}}, ID: {{getBookId(1) | json}}</h5>
              <div>
                <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Details</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5 class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Languages: {{getBookLanguages(1)}}</li>
                    <li class="list-group-item">Subjects: {{getBookSubjects(1) | json}}</li>
                    <li class="list-group-item">Bookshelves: {{getBookBookshelves(1)}}</li>
                    <li class="list-group-item">Download Count: {{getBookCount(1)}}</li>
                  </ul>
                </h5>
                <a href="https://www.gutenberg.org/ebooks/{{getBookId(1)}}" class="btn btn-primary">Go to Book
                  Details</a><a  class="btn btn-primary">Add To Reading List</a>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="m-0">{{getBookTitle(2)}} by {{getBookAuthors(2)}}, ID: {{getBookId(2) | json}}</h5>
              <div>
                <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Details</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5 class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Languages: {{getBookLanguages(2)}}</li>
                    <li class="list-group-item">Subjects: {{getBookSubjects(2) | json}}</li>
                    <li class="list-group-item">Bookshelves: {{getBookBookshelves(2)}}</li>
                    <li class="list-group-item">Download Count: {{getBookCount(2)}}</li>
                  </ul>
                </h5>
                <a href="https://www.gutenberg.org/ebooks/{{getBookId(2)}}" class="btn btn-primary">Go to Book
                  Details</a><a  class="btn btn-primary">Add To Reading List</a>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="m-0">{{getBookTitle(3)}} by {{getBookAuthors(3)}}, ID: {{getBookId(3) | json}}</h5>
              <div>
                <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Details</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5 class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Languages: {{getBookLanguages(3)}}</li>
                    <li class="list-group-item">Subjects: {{getBookSubjects(3) | json}}</li>
                    <li class="list-group-item">Bookshelves: {{getBookBookshelves(3)}}</li>
                    <li class="list-group-item">Download Count: {{getBookCount(3)}}</li>
                  </ul>
                </h5>
                <a href="https://www.gutenberg.org/ebooks/{{getBookId(3)}}" class="btn btn-primary">Go to Book
                  Details</a><a  class="btn btn-primary">Add To Reading List</a>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="m-0">{{getBookTitle(4)}} by {{getBookAuthors(4)}}, ID: {{getBookId(4) | json}}</h5>
              <div>
                <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Details</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5 class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Languages: {{getBookLanguages(4)}}</li>
                    <li class="list-group-item">Subjects: {{getBookSubjects(4) | json}}</li>
                    <li class="list-group-item">Bookshelves: {{getBookBookshelves(4)}}</li>
                    <li class="list-group-item">Download Count: {{getBookCount(4)}}</li>
                  </ul>
                </h5>
                <a href="https://www.gutenberg.org/ebooks/{{getBookId(4)}}" class="btn btn-primary">Go to Book
                  Details</a><a  class="btn btn-primary">Add To Reading List</a>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
